# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=T-Notes Daemon SNAP
Comment=main
GenericName=T_Notes Digital Currency Daemon Client main network
Exec=t_notes-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/t_notes.png
MimeType=x-scheme-handler/tnc;
Categories=X-Office;X-Finance;
Keywords=internet;t_notes;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
